@model IEnumerable<WebApplication1_MVC_.DTOs.InstructorResponseDTO>
@{
    ViewData["Title"] = "Instrutor List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Instrutor List</h1>
<div>
    <a class="btn btn-primary" asp-action="Add_Instructor">Add a new Instructors</a>
    <a class="btn btn-primary" asp-controller="Student" asp-action="All_Students">All Students</a>
</div>

<table class="table table-striped table-hover border">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.InstructorName</td>
                <td>@item.InstructorEmail</td>
                <td>@item.InstructorPhone</td>
                <td class="text-center">
                        <a class="btn btn-sm btn-info text-white"
                           asp-action="Info_Instructor"
                           asp-controller="Instructor"
                           asp-route-id="@item.InstracrorId">Info</a>

                        <a class="btn btn-sm btn-primary"
                           asp-action="Update_Instructor"
                           asp-controller="Instructor"
                           asp-route-id="@item.InstracrorId">Edit</a>

                        <a class="btn btn-sm btn-danger"
                           asp-action="Delete_Instructor"
                           asp-controller="Instructor"
                           asp-route-id="@item.InstracrorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>