@model IEnumerable<WebApplication1_MVC_.DTOs.CourseResponseDTO>
<h1 class="mb-4">All Courses</h1>
<a class="btn btn-primary" asp-action="Add_Course">Add a new Course</a>
<table class="table table-striped table-hover border">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseId</td>
                <td>@item.CourseTitle</td>
                <td>@item.CoursePrice</td>
                <td class="text-center">
                    <a class="btn btn-info text-white"
                       asp-action="Course_Info"
                       asp-controller="Course"
                       asp-route-id="@item.CourseId">Info</a>

                    <a class="btn btn-primary"
                       asp-action="Update_Course"
                       asp-controller="Course"
                       asp-route-id="@item.CourseId">Edit</a>

                    <div class="btn-group">
                        <form asp-action="Delete_Course" asp-route-id="@item.CourseId" method="post"
                              onsubmit="return confirm('هل أنت متأكد من حذف كورس: @item.CourseTitle ؟');"
                              style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </form>
                       
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>